header {
    background-color: rgba(220, 81, 194, 0.133);
    color: rgba(9, 24, 121, 0.99);
    height: 50px;
    font-size: xx-large;
    line-height: 50px;
    padding-left: 25px;
}

nav {
    background-color: rgba(39, 108, 199, 0.51);
    color: rgba(124, 28, 107);
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
}

main {
    max-width: 800px;
    margin: auto;
    padding-left: 0 20px;
}

table.paper {
    width: 100%;
}

.titulo-tabla {
    border-bottom: rgba(220, 81, 194, 0.133) 2px solid;
    text-align: left;
}

.tipo {
    text-align: center;
}

.numero {
    text-align: right;
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 3px rgba(220, 81, 194, 0.133);
}

.lista-vacia {
    text-align: center;
    padding: 20px;
    color: rgba(220, 81, 194, 0.133);
}

.campo-formulario label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin-top: .75rem;
}

.campo-formulario .radio-label {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: .5rem;
}

.campo-formulario input:not([type="radio"]) {
    width: 40%;
}