{% extends "base.html" %}

{% block head_title %}
{{ super() }}: inicio
{% endblock %}

{% block page_title %}
Bienvenido a Cripto Cambio
{% endblock %}

{% block enlace %}
<iframe src="https://es.widgets.investing.com/top-cryptocurrencies?theme=darkTheme&roundedCorners=true" width="100%"
  height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
<div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">Cortesía de <a
    href="https://es.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=TOP_CRYPTOCURRENCIES&amp;utm_content=Footer%20Link"
    target="_blank" rel="nofollow">Investing.com</a></div>
{% endblock %}



{% block contenido %}
{{ super() }}
<table class="paper"> #REVISAR POR TONY
  <tr>
    <th class="titulo-tabla">Movimiento_id</th>
    <th class="titulo-tabla">Divisa 1</th>
    <th class="titulo-tabla numero">Cantidad</th>
    <th class="titulo-tabla">Divisa 2</th>
    <th class="titulo-tabla numero">Cantidad</th>
    <th class="titulo-tabla">Tipo de cambio</th>
    <th class="titulo-tabla numero">Euros invertidos</th>
  </tr>
  {% if movs %}
  {% for mov in movs %}
  <tr>
    <td>
      #cambiar nombres por los de mi base de datos.
      {{ mov.movimiento_id }}
    </td>
    <td>
      {{ mov.moneda_1 }}
    </td>
    <td class="numero">{{ mov.cantidad_1 }}</td>
    <td>
      {{ mov.moneda_2 }}
    </td>
    <td class="numero">{{ mov.cantidad_2 }}</td>
    <td class="numero">{{ mov.tipo_cambio }}</td>
    <td class="numero">{{ mov.total_moneda_2 }}</td>
    {% endif %}

    {% endfor %}
    {% else %}
  <tr>
    <td colspan="4" class="lista-vacia">No hay movimientos que mostrar</td>
  </tr>
  {% endif %}
</table>
{{suma}}
{% endblock %}